@charset "UTF-8";
/*
"all" style sheet.
Sergio Vaccaro <sergio.vaccaro@istat.it>
October, 17 2010
*/
@media all {
    /* Basic tags */
    /* body            { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; margin: 0; background-color: #fff } */
    body            { font-family: Arial,sans-serif; font-size: 12px; margin: 0; background-color: #fff }
    a               { color: #da0d14; text-decoration: none }
    a:hover         { text-decoration: underline }
    img             { border: 0 }
    th              { font-weight: bolder; text-align: center }
    caption         { text-align: center }
    h1              { font-size: 2em; margin: .67em 0 }
    h2              { font-size: 1.3em; margin: 1.5em 0 1em 0; color:#555; text-align: left; }
    h3              { font-size: 1.17em; margin: .83em 0; padding: 1em 0 0.1em 0 }
    h4, p,
    blockquote, fieldset, form, ol, dl, dl
                    { margin: 5px 0 15px 0;}
    h5              { font-size: .83em; margin: 1.5em 0 }
    h6              { font-size: .75em; margin: 1.67em 0 }
    h1, h2, h3, h4,
    h5, h6, b,
    strong          { font-weight: bolder }
    blockquote      { margin: 5px 0 5px 0; }
    pre, tt, code,
    pre             { white-space: pre }
    big             { font-size: 1.17em }
    small, sub, sup { font-size: .83em }
    sub             { vertical-align: sub }
    sup             { vertical-align: super }
    table           { border-spacing: 0.15em; }
    thead, tbody,
    tfoot           { vertical-align: middle }
    td, th, tr      { vertical-align: inherit }
    s, strike, del  { text-decoration: line-through }
    hr              { border: 0.1em inset }
    ol, dd          { margin-left: 3.33em }
    ol              { list-style-type: decimal }
    ol ul, ul ol,
    ul ul, ol ol    { margin-top: 0.5em; margin-bottom: 0.5em }
    u, ins          { text-decoration: underline }
    br:before       { content: "\A"; white-space: pre-line }
    center          { text-align: center }
    /* :link, :visited { text-decoration: underline } */
    /* Che Ã¨ 'invert? sembra sia un errore...
    :focus          { outline: thin dotted invert } */
    :focus          { outline: thin dotted #ccc }

    BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
    BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

    *[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
    *[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

    /* Servono sempre */
    .small          { font-size: 85% }
    .large          { font-size: 120% }
    .light          { color: #666 }
    .strong         { font-weight: bold }

    /* Elementi portanti */
    #logo,
    #header,
    #body,
    #footer,
    #linkBar,
    #signature,
    #datetime
                    { clear: both }

    #signature,
    #datetime       { text-align: center }
}


